<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add new product</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <div th:insert="parts/navbar :: navigation"></div>
<h1>Add new product group</h1>
<form class="mb-3" th:action="@{/products}" th:method="post" th:object="${createProductDTO}" >
<!--      enctype="multipart/form-data"-->
  <label for="name" class="form-label">Name: </label>
  <input class="form-control" th:field="*{name}" type="text" id="name" name="name"/>
<!--  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
  <label for="discription" class="form-label">Discription: </label>
  <input class="form-control" th:field="*{discription}" type="text" id="discription" name="discription"/>

  <label for="price" class="form-label">price: </label>
  <input class="form-control" th:field="*{price}" type="number" id="price" name="price"/>

  <label for="url1" class="form-label">Photo1URL: </label>
  <input class="form-control" th:field="*{url1}" type="text" id="url1" name="url1"/>
  <label for="url2" class="form-label">Photo2URL: </label>
  <input class="form-control" th:field="*{url2}" type="text" id="url2" name="url2"/>
  <label for="url3" class="form-label">Photo3URL: </label>
  <input class="form-control" th:field="*{url3}" type="text" id="url3" name="url3"/>


  <label for="poductGroup" class="form-label">Product Group: </label>
  <select class="form-select" th:field="*{productGroupId}" id="poductGroup">

    <option th:each="ProductGroup : ${groups}" th:value="${ProductGroup.getId()}" th:text="${ProductGroup.getName()}">
    </option>
  </select>
<!--  <br>-->
<!--  <label for="file1" class="form-label">Photo 1:</label>-->
<!--  <input class="form-control"  type="file" name="file1" id="file1"/>-->
<!--  <br>-->
<!--  <label for="file2" class="form-label">Photo 2:</label>-->
<!--  <input class="form-control" type="file" name="file2" id="file2"/>-->
<!--  <br>-->
<!--  <label for="file3" class="form-label">Photo 3:</label>-->
<!--  <input class="form-control" type="file" name="file3" id="file3"/>-->
<!--  <br>-->

  <!--  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
  <!--    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
  <input type="submit" value="Add product"/>
</form>
</body>
</html>
