<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body {
        background-color: #fff;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .login-form {
        padding: 20px;
        background-color: #f8f9fa; /* бледно-серый цвет */
        border-radius: 5px;
        width: 60%; /* Установка ширины формы в 60% от ширины экрана */
        max-width: 400px; /* Максимальная ширина формы */
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <h2 class="text-center mb-4">Login</h2>
      <form th:action="@{/users/login}" method="POST">
        <div class="form-group">
          <label for="username">Email:</label>
          <input class="form-control" type="email" id="username" name="username" placeholder="Enter email" style="color: #000;">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" style="color: #000;">
        </div>
        <button type="submit" class="btn btn-dark btn-block">Login</button>
        <p class="text-center mt-3">Not registered? <a th:href="@{/users/registration}" style="color: #000;" class="registration-link">Register here</a></p>
      </form>
    </div>
  </body>
</html>