<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div th:fragment="navigation">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home/page/1">HAI Store</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Administration</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Catalogs
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/products/page/1">The Nomenclature Reference</a></li>
                  <li><a class="dropdown-item" href="/productGroups">Directory of nomenclature groups</a></li>
                  <li><a class="dropdown-item" href="/users">User Reference</a></li>
                  <li><a class="dropdown-item" href="/characteristics">Characteristics Reference</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <button><a href="/home/personalAccount/page/1">Personal account</a></button>
<!--            <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--              <input type="submit" value="Log out"/>-->
<!--            </form>-->
<!--            <form th:action="@{/login}" method="get" th:if="${#authorization.expression('!isAuthenticated()')}">-->
<!--              <input type="submit" value="Log in"/>-->
<!--            </form>-->
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>